@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/spotlight/styles.css";
@import "@mantine/code-highlight/styles.css";
@import "@fontsource/geist-mono";
@import "@fontsource/geist-sans";

.app-header {
	padding: var(--mantine-spacing-md);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-spotlight-input {
	input {
		cursor: pointer !important;
	}
}

a {
	text-decoration: unset;
	color: unset;
}

.graph text {
	font-family: sans-serif;
	stroke: white;
	paint-order: stroke;
	stroke-width: 3;
	stroke-linecap: square;
}

.namespace polygon {
	fill-opacity: 0.2;
	stroke: none;
}
